* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

:root {
	--black-color: #000000;
	--white-color: #ffffff;
	--primary-color: #fca311;
	--secondary-color: #14213d;
	--accent-color: #e5e5e5;
}

body {
	font-family: "Objektiv Mk1 Trial", system-ui, -apple-system,
		BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
		"Open Sans", "Helvetica Neue", sans-serif;
	font-weight: 400;
	line-height: 1.6;
	background-color: var(--accent-color);
}

.grid-wrapper {
	height: 100dvh;
	height: 100vh;
	width: 100%;
	display: grid;
	grid-template-areas:
		"aside header"
		"aside main";
	grid-template-columns: 240px 1fr;
	grid-template-rows: 80px 1fr;
}

aside {
	grid-area: aside;
	padding: 0.875rem;
	border-right: 1px solid rgba(0, 0, 0, 0.12);
}

header {
	grid-area: header;
	border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

main {
	grid-area: main;
}

.flex {
	display: flex;
	align-items: center;
}

/* Profile */

.profile {
	justify-content: space-between;
}

.user_profile {
	gap: 0.5rem;
}

.profil__img {
	border-radius: 50%;
	block-size: 2.4rem;
	inline-size: 2.4rem;
	justify-content: center;
	background-color: var(--white-color);
}

.profile__name {
	font-weight: 500;
	font-size: 0.875rem;
}
