* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	font-family: "Objektiv Mk1 Trial", system-ui, -apple-system,
		BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
		"Open Sans", "Helvetica Neue", sans-serif;
	font-weight: 400;
	line-height: 1.6;
	background-color: #e4e4e4;
}
